<tr id="{{timecomment.id}}" class="comment" ng-class="{'current-comment':isCurrentComment(timecomment)}">
  <td class="comment-number"><a ng-click="seekTo()"><i class="fa fa-play"></i>&nbsp;{{idx+1}}</a></td>
  <td class="comment-time"><span editable-text="timecomment.time" onaftersave="updateTime(timecomment)">{{timecomment.time | secondsfilter}}</span></td>
  <td class="comment-text"><span editable-text="timecomment.content" onaftersave="updateContent(timecomment)">{{timecomment.content}}</span></td>
  <td class="comment-author">{{timecomment.name}}</td>
</tr>