<tr id="{{timecomment.id}}" class="comment" ng-class="{'current-comment':isCurrentComment(timecomment)}">
  <td class="comment-number"><a ng-click="seekTo()"><i class="fa fa-play"></i>&nbsp;{{idx+1}}</a></td>
  <td ng-show="videosService.userCan('edit')" class="comment-time"><span editable-text="timecomment.time" onaftersave="updateTime()">{{timecomment.time | secondsfilter}}</span></td>
  <td ng-show="!videosService.userCan('edit')" class="comment-time">{{timecomment.time | secondsfilter}}</td>
  <td ng-show="videosService.userCan('edit')" class="comment-text"><span editable-text="timecomment.content" onaftersave="updateContent()">{{timecomment.content}}</span></td>
  <td ng-show="!videosService.userCan('edit')" class="comment-text">{{timecomment.content}}</td>
  <td class="comment-author">{{timecomment.name}}</td>
  <td ng-if="videosService.userCan('delete')"><a ng-click="delete()"><i class="fa fa-times"></i></a></td>
</tr>