<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dash">YouScriber</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-show="userService.loggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-youtube-play"></i>New Video</a></li>
            <li><a href="#/register/group"><i class="fa fa-group"></i>New Group</a></li>
            <li><a href="#/register/org"><i class="fa fa-institution"></i>New Organization</a></li>
            
            <li class="divider"></li>

            <li class="dropdown-header">This Organization</li>
            <li><a href="#"><i class="fa fa-youtube-play"></i>New Video</a></li>
            <li><a ng-href="#/org/{{userService.getCurrentContext().id}}/register/group"><i class="fa fa-group"></i>New Group</a></li>
            
            <li class="divider"></li>

            <li class="dropdown-header">This Group</li>
            <li><a href="#"><i class="fa fa-youtube-play"></i>New Video</a></li>
            <li><a href="#"><i class="fa fa-user"></i>Invite Someone</a></li>

            <li class="divider"></li>

            <li class="dropdown-header">This Video</li>
            <li><a href="#"><i class="fa fa-user"></i>Invite Someone</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-show="userService.loggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userService.getCurrentContext().name}}{{userService.getCurrentContext().title}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-click="userService.setCurrentContext(userService.user)">{{userService.user.name}}</li>
            <li ng-show="userService.user.orgs.length > 0"><hr></li>
            <li ng-repeat="org in userService.user.orgs" ng-click="userService.setCurrentContext(org)">{{org.title}}</li>
          </ul>
        </li>
        <li ng-show="!userService.loggedIn()"><a href="#/login">Login</a></li>
        <li ng-show="userService.loggedIn()" ng-click="logout()"><a href="#/dash">Logout</a></li>
        <li ng-show="!userService.loggedIn()"><a href="#/register">Register</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>