<div class="panel panel-primary settings-modal" id="settings-modal">
  <div class="panel-heading">
    <h2 class="panel-title pull-left" ng-attr-title="Control Video Permissions">Control Video Permissions</h2>
    <i class="fa fa-times pull-right" ng-click="dismiss()"></i>
  </div>
  <div class="panel-body">
    <div class="container">
      <form action="" class="form-horizontal">
        <tabset vertical="true" type="pills">
          <tab heading="User Privileges" active="tabs.user" select="go('user')">
            <settings-tab 
              user-id="userId"
              entity-name="'User'" 
              initial-permissions="initialPermissions.user" 
              final-permissions="finalPermissions.user"
              revokees="revokees.user"
              search="getUsernames"></settings-tab>
          </tab>
          <tab heading="Group Privileges" active="tabs.group" select="go('group')">
            <settings-tab 
              user-id="userId"
              entity-name="'Group'" 
              initial-permissions="initialPermissions.group" 
              final-permissions="finalPermissions.group"
              revokees="revokees.group"
              search="getGroups"></settings-tab>
          </tab>
          <tab heading="Organization Privileges" active="tabs.organization" select="go('organization')">
            <settings-tab 
              user-id="userId"
              entity-name="'Organization'" 
              initial-permissions="initialPermissions.organization" 
              final-permissions="finalPermissions.organization"
              revokees="revokees.organization"
              search="getOrgs"></settings-tab>
          </tab>
        </tabset>
      </form>
    </div>
  </div>
  <div class="panel-footer">
  	<button type="submit" class="btn btn-primary pull-right" ng-click="save()">Save all changes</button>
  	<button class="btn btn-danger pull-left" ng-click="deleteVideo()">Delete Video</button>
  </div>
</div>