<div class="row dash body">
  <div ng-class="{'col-md-10':userService.loggedIn(), 'col-md-12':!userService.loggedIn()}">
    <!-- <p class="lead" ng-show="userService.user && userService.user.name && userService.user.name.length>0">Welcome, {{userService.user.name}}</p> -->

    <div class="panel panel-primary video-panel new-video" ng-click="newVideo()" ng-show="userService.loggedIn()">
      <div class="panel-heading">
        <h3 class="panel-title" title="Annotate a new video">Annotate a new video</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default"><i class="fa fa-plus"></i><br>Annotate new video</button>
      </div>
      <div class="panel-footer">&nbsp;</div>
    </div>
    
    <video-panel ng-repeat="video in videosService.videoFiltered()" model="video" video-id="video.ytid"></video-panel>
  </div>

  <div class="col-md-2" ng-show="userService.loggedIn()">
    <panel panel-title="Organizations">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#/register/org"><i class="fa fa-plus"></i> Create New</a>
        </li>
        <li class="list-group-item" ng-repeat="org in userService.user.orgs">{{org.title}}</li>
      </ul>
    </panel>
    <panel panel-title="Groups">
      <ul class="list-group">
      <li class="list-group-item">
          <a href="#/register/group"><i class="fa fa-plus"></i> Create New</a>
        </li>
        <li class="list-group-item" ng-repeat="group in userService.user.groups">{{group.title}}</li>
      </ul>
  </div>
</div>
