<div class="row dash">
  <div class="col-md-12 body">
    <form action="" class="management-settings form-horizontal">
      <!-- <ul>
        <li ng-repeat="mgmtPerm in initialPermissions">{{mgmtPerm.entity.name}}</li>
      </ul> -->
      <tabset vertical="true" type="pills">
        <tab 
          heading="{{mgmtPerm.entity.name}}" 
          active="tabs[mgmtPerm.entity.name]" 
          select="go(mgmtPerm.entity.name)"
          ng-repeat="mgmtPerm in initialPermissions">
            <manage-settings-tab 
              entity-name="mgmtPerm.entity.name" 
              initial-permissions="mgmtPerm.permissions" 
              final-permissions="finalPermissions"
              revokees="revokees"
              search="getUsernames"></manage-settings-tab>
        </tab>
      </tabset>
    </form>
  </div>
</div>
