<div class="row org-registration">
  <div class="col-md-12 body">
    <form role="form" ng-submit="registerOrg()">
      <div class="form-group" ng-class="{'has-error': orgExists}">
        <label for="title">Organization Title</label>
        
        <input type="text" ng-model="orgSelected" placeholder="Add new organization" typeahead="org as org.title for org in getOrgs($viewValue)" typeahead-loading="loadingUOrgs" class="form-control" typeahead-on-select="joinOrg()" autofocus>
        <i ng-show="loadingMatchingOrgs" class="fa fa-refresh"></i>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="description" placeholder="describe your organization"></textarea>
      </div>
      <button type="submit" class="btn btn-default" ng-class="{'disabled': title.length<1}">Submit</button>
      <p class="text-danger error-message">{{errorMessage}}</p>
    </form>
  </div>
</div>